@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: iransans;
    src: url(./fonts/IRANSans.ttf);
    src: url(./fonts/IRANSans.ttf);
    src: url(./fonts/IRANSans.woff2);
  }
  @font-face {
    font-family: iransansmedium;
    src: url(./fonts/IRANSans-Medium.ttf);
    src: url(./fonts/IRANSans-Medium.woff);
    src: url(./fonts/IRANSans-Medium.woff2);
  }
  body {
    font-family: iransans, iransansmedium;
  }
  .kid{
    background: -webkit-linear-gradient(245deg, #05c3ff 0, #151515 40%);
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
